/* Base Styles */
.analytics-container {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .radio-buttons label {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
  }
  
  .variable-strings {
    margin-top: 20px;
  }
  
  .variable-strings h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* Button Styles */
  .provision-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .provision-button:hover {
    background-color: #0056b3;
  }
  
  .buttons-container {
    margin-top: 20px;
  }
  
  /* Dropdown Styles */
  .provision-dropdown {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
  }
  
  /* File Input Styles */
  .file-input {
    display: none;
  }
  
  .file-analytics {
    margin-top: 20px;
  }
  
  .file-analytics h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .file-analytics p {
    margin-bottom: 10px;
  }
  
  .file-analytics label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .file-analytics label:hover {
    background-color: #0056b3;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .analytics-container {
      padding: 10px;
      max-width: 100%;
    }
  
    .radio-buttons label {
      margin-right: 10px;
      font-size: 16px;
    }
  
    .variable-strings h2 {
      font-size: 18px;
      margin-bottom: 8px;
    }
  
    .provision-button {
      padding: 8px 16px;
      font-size: 16px;
    }
  
    .provision-dropdown {
      font-size: 16px;
    }
  
    .file-analytics h2 {
      font-size: 18px;
      margin-bottom: 8px;
    }
  
    .file-analytics label {
      padding: 8px 16px;
      font-size: 16px;
    }
  }
  
